---
layout: default
---

<main class="tgfa-masthead" id="content" role="main" tabindex="-1">
  <div class="container">
    <span class="tgfa-booticon"><img alt="tigefa-cover" src="{{ "/static/img/tigefa-cover.png" | prepend: site.baseurl }}" width="375" height="375"></span>
    <p class="lead">sugeng tigefa</p>
    <p class="taglines">{{ site.description }}</p>
    <p><a class="btn btn-primary btn-lg" href="http://dash.tigefa.space" target="_blank"><i class="fa fa-tachometer fa-2x"></i></a> <a class="btn btn-primary btn-lg" href="http://news.tigefa.space" target="_blank"><i class="fa fa-newspaper-o fa-2x"></i></a> <a class="btn btn-primary btn-lg" href="http://chat.tigefa.space" target="_blank"><i class="fa fa-users fa-2x"></i></a> <a class="btn btn-primary btn-lg" href="http://status.tigefa.space" target="_blank"><i class="fa fa-heartbeat fa-2x"></i></a></p>
  </div>
</main>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1>PHP <small>code addons plus tut</small></h1>
<div class="list-group">
  {% for post in site.categories.php %}
  <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
  {% endfor %}
</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h1>Ruby <small>code addons plus tut</small></h1>
<div class="list-group">
  {% for post in site.categories.ruby %}
  <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
  {% endfor %}
</div>
    </div>
  </div>
</div>
</div>