---
layout: page
title: tigefa4u.github
---
{% include JB/setup %}

{% for post in paginator.posts %}
<header id="begin">
	<time datetime="{{ post.date | date_to_long_string }}" id="top_time"><i class="fa fa-calendar"></i> {{ post.date | date_to_long_string }}</time>
</header>
<article id="20" class="post">
<h2 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="no-link" title="{{ post.title }}" rel="bookmark"><i class="fa fa-bullhorn"></i> {{ post.title }}</a></h2>
<div class="entry-content">
{{ post.content }}				
</div><!-- .entry-content -->			
</article><!-- #post-## -->
{% endfor %}

<!-- Pagination links -->
<nav class="pagination">
{% if paginator.next_page %}
<span class="next">
<a href="{{ site.url }}/page{{paginator.next_page}}" >Continue &rarr;</a>
</span>
{% else %}
<span class="next">Older &rarr;</span>
{% endif %}
{% if paginator.previous_page %}
{% if paginator.page == 2 %}
<span class="prev">
<a href="{{ site.url }}/page{{paginator.previous_page}}" >&larr; Newer</a>
</span>
{% else %}
<span class="prev"><a href="{{ site.url }}/page{{paginator.previous_page}}" class="next">&larr; Newer</a></span>
{% endif %}
{% else %}
<span class="prev">&larr; Newer</span>
{% endif %}	
</nav>
