[project]
	description = for personal notes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sugeng tigefa (tigefa4u)
[access "refs/for/refs/*"]
	read = group user/sugeng tigefa (tigefa4u)
	push = group user/sugeng tigefa (tigefa4u)
	label-Code-Review = -2..+2 group user/sugeng tigefa (tigefa4u)
	label-Verified = -1..+1 group user/sugeng tigefa (tigefa4u)
	rebase = group user/sugeng tigefa (tigefa4u)
	removeReviewer = group user/sugeng tigefa (tigefa4u)
	submit = group user/sugeng tigefa (tigefa4u)
[access "refs/heads/*"]
	read = group user/sugeng tigefa (tigefa4u)
	create = group user/sugeng tigefa (tigefa4u)
	push = +force group user/sugeng tigefa (tigefa4u)
	pushMerge = group user/sugeng tigefa (tigefa4u)
[access "refs/tags/*"]
	push = +force group user/sugeng tigefa (tigefa4u)
	pushTag = group user/sugeng tigefa (tigefa4u)
	pushSignedTag = group user/sugeng tigefa (tigefa4u)
