							<!-- Ad Spots Widget -->
							<div class="ad-spots widget widget__sidebar">
								<h3 class="widget-title">Ad Spots</h3>
								<div class="widget-content">
									<ul class="ad-holder unstyled clearfix">
										<li><a href="#"><img src="/static/images/samples/banner125x125.jpg" alt="" width="125" height="125"></a></li>
										<li><a href="#"><img src="/static/images/samples/banner125x125.jpg" alt="" width="125" height="125"></a></li>
										<li><a href="#"><img src="/static/images/samples/banner125x125.jpg" alt="" width="125" height="125"></a></li>
										<li><a href="#"><img src="/static/images/samples/banner125x125.jpg" alt="" width="125" height="125"></a></li>
									</ul>
								</div>
							</div>
							<!-- /Ad Spots Widget -->
