	<!-- CSS
	================================================== -->
	<!-- Normalize default styles -->
	<link rel="stylesheet" href="/static/css/normalize.css" media="screen" />
	<!-- Skeleton grid system -->
	<link rel="stylesheet" href="/static/css/skeleton.css" media="screen" />
	<!-- Base Template Styles-->
	<link rel="stylesheet" href="/static/css/base.css" media="screen" />
    <link rel="stylesheet" href="/static/css/syntax.css" media="screen" />
	<!-- Template Styles-->
	<link rel="stylesheet" href="/static/css/style.css" media="screen" />
	<!-- Superfish -->
	<link rel="stylesheet" href="/static/css/superfish.css" media="screen" />
	<!-- Prettyphoto -->
	<link rel="stylesheet" href="/static/css/prettyPhoto.css" media="screen" />
	<!-- FontAwesome -->
	<link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" />
	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" href="/static/css/settings.css" media="screen" />
	<!-- Flexslider -->
	<link rel="stylesheet" href="/static/css/flexslider.css" media="screen" />
	<!-- Layout and Media queries-->
	<link rel="stylesheet" href="/static/css/media-queries.css" media="screen" />
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/css/ie/ie8.css" media="screen" />
	<![endif]-->
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
