<footer class="footer" role="contentinfo">
  <div class="container">
    <p style="text-align: center;">
      <a class="button button-primary button-box button-giant button-longshadow-right" href="//twitter.com/sugeng_tigefa"><i class="fa fa-twitter"></i></a>
      <a class="button button-caution button-box button-raised button-giant button-longshadow" href="//plus.google.com/+tigefasugeng"><i class="fa fa-google-plus"></i></a>
      <a class="button button-primary button-box button-giant button-longshadow-right" href="//fb.com/tigefa"><i class="fa fa-facebook"></i></a>
      <a class="button button-highlight button-box button-giant button-longshadow-right button-longshadow-expand" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-rss"></i></a>
    </p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
<script src="{{ "/static/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/matches-selector.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/ev-emitter.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/get-size.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/item.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/outlayer.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/utils.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/buttons.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/bs3-masonry.js" | prepend: site.baseurl }}"></script>
