<footer class="footer" role="contentinfo" id="footer">
  <div class="container">
    <p style="text-align: center;">
      <a class="button button-primary button-box button-giant button-longshadow-right" href="//twitter.com/sugengtigefa"><i class="fa fa-twitter"></i></a>
      <a class="button button-caution button-box button-raised button-giant button-longshadow" href="//plus.google.com/+tigefasugeng"><i class="fa fa-google-plus"></i></a>
      <a class="button button-primary button-box button-giant button-longshadow-right" href="//fb.com/tigefa"><i class="fa fa-facebook"></i></a>
      <a class="button button-highlight button-box button-giant button-longshadow-right button-longshadow-expand" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-rss"></i></a>
      <b style="display:none;"><script id="_wautav">var _wau = _wau || [];
_wau.push(["colored", "vmsyvn0f4yly", "tav", "c0392ecf0f"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="//widgets.amung.us/colored.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script></b>
    </p>
  </div>

<div class="smooth-scroll align-right align-bottom">
<a data-scroll data-options='{ "easing": "easeOutCubic" }' href="#footer" class="smooth-scroll-document-anchor-bottom"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
</a>
<a data-scroll data-options='{ "easing": "easeOutCubic" }' href="#btop" class="smooth-scroll-document-anchor-top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
</a>
</div>  
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
<script src="{{ "/static/js/tether.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/holder.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/buttons.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37528375 = new Ya.Metrika({
                    id:37528375,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37528375" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->	

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-44336640-7']);
_gaq.push(['_setDomainName', 'tigefa.space']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
function recordOutboundLink(link, categories, action) {
    _gaq.push(['_trackEvent', categories, action])
    setTimeout('document.location = "' + link.href + '"', 100);
}
</script>

<script>
    smoothScroll.init();
</script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny6ns');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
