    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-expanded="false" aria-controls="exCollapsingNavbar2" aria-label="Toggle navigation"></button>
         <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li class="nav-item"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav float-xs-right">
             <li class="nav-item"><a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a></li>
          </ul>
         </div>
      </div>
    </nav>
    <div id="btop"></div>
