<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
		<meta name="viewport" content="width=device-width,initial-scale=1"><link rel="alternate" type="application/rss+xml" title=" tigefa4u.github / Forking and clone pull-request - Feed" href="{{ site.url }}/rss.xml" />
		<link rel="alternate" type="application/atom+xml" title="Recent commits to tigefa4u.github.io master branch" href="https://github.com/tigefa4u/tigefa4u.github.io/commits/master.atom" />
		<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="/css/font-awesome.css">
		<link rel="stylesheet" href="/css/font-awesome-ie7.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
	<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.url }}">{{ page.title }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/index.html">Home</a>
              </li>
              <li class="">
                <a href="/about.html">About</a>
              </li>	  
              <li class="">
                <a href="/rss.xml">RSS Feed</a>
              </li>
              <li class="">
                <a href="/sitemap.xml">Site Map</a>
              </li>
<li class="dropdown">
<a href="http://x.co/1vXgq" class="dropdown-toggle" data-toggle="dropdown">
Forums
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="">Seconds</a></li>
</ul>
</li>		  
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">Overview of the project, its contents, and how to get started with a simple Git.</p>
  </div>
</header>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tigefa4u&repo=tigefa4u.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=tigefa4u&repo=tigefa4u.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/tigefa_team" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @tigefa_team</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tigefa4u.github.io/" data-count="horizontal" data-via="tigefa_team" data-related="tigefa_team:tigefa4u.Github / Forking and pull-request">Tweet</a>
      </li>
    </ul>
  </div>
</div>
