	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
			
		<div class="wrapp-holder">
			<div class="wrap-frame">
				<!-- BEGIN HEADER -->
				<header id="header" class="header">
				
					<!-- Top Header -->
					<div class="header-top">
						<div class="container clearfix">
							<div class="grid_12">
								<!-- Top Menu -->
								<ul class="header-top-menu unstyled">
									<li><a href="#">Pricing</a></li>
									<li><a href="#">Sitemap</a></li>
									<li><a href="#">FAQs</a></li>
								</ul>
								<!-- /Top Menu -->
								
								<!-- Social Links -->
								<ul class="social-links unstyled">
									<li class="ico-twitter"><a href="//twitter.com/{{ site.author.twitter }}">Twitter</a></li>
									<li class="ico-facebook"><a href="//facebook.com/{{ site.author.facebook }}">Facebook</a></li>
									<li class="ico-googleplus"><a href="//plus.google.com/+{{ site.author.googleplus }}">Google+</a></li>
									<li class="ico-vimeo"><a href="//vimeo.com/{{ site.author.vimeo }}">Vimeo</a></li>
									<li class="ico-rss"><a href="/rss.xml">RSS</a></li>
								</ul>
								<!-- /Social Links -->
							</div>
						</div>
					</div>
					<!-- /Top Header -->
					
					<!-- Main Header -->
					<div class="header-main">
						<div class="container clearfix">
							<div class="grid_12 hr-bottom">
								
								<!-- BEGIN LOGO -->
								<div id="logo">
									<!-- Image based Logo
									<a href="index.html"><img src="/static/images/logo.png" alt="Emotion" width="145" height="67" /></a>-->
									
									<!-- Text based Logo -->
									<h1><a href="/index.html">{{ site.name }}</a></h1>
									<p class="tagline">{{ site.meta.description }}</p>
									
									
								</div>
								<!-- END LOGO -->
								
								
								<!-- BEGIN NAVIGATION -->
								<nav class="primary">
									<ul class="sf-menu">
										<li>
											<a href="/index.html">Home <span><i>|</i> Get Started</span></a>
										</li>
										<li>
											<a href="elements.html">Features <span><i>|</i> Why Choose Us</span></a>
											<!-- Sub Navigation -->
											<ul>
												<li><a href="about.html">About Us</a></li>
												<li><a href="columns.html">Columns</a></li>
												<li><a href="services.html">Services</a></li>
												<li><a href="pricing-tables.html">Pricing Tables</a></li>
												<li><a href="elements.html">Page Elements</a></li>
												<li><a href="#">Second Level Item</a>
													<ul>
														<li><a href="#">Third Level Item</a></li>
														<li><a href="#">And another one</a></li>
													</ul>
												</li>
											</ul>
											<!-- /Sub Navigation -->
										</li>
										<li>
											<a href="/portfolio.html">Portfolio <span><i>|</i> Our Works</span></a>
										</li>
										<li class="current-menu-item">
											<a href="/index.html">Blog <span><i>|</i> Our Updates</span></a>
										</li>
										<li>
											<a href="/contact.html">Contacts <span><i>|</i> Get in Touch</span></a>
										</li>
									</ul>
								</nav>
								<!-- END NAVIGATION -->
								
							</div>
						</div>
					</div>
					<!-- /Main Header -->
					
				</header>
				<!-- END HEADER -->
