						<!-- Sidebar -->
						<aside id="sidebar" class="sidebar grid_4">
							
							<!-- Search Widget -->
							<div class="search-widget widget widget__sidebar">
								<div class="widget-content">
									<form action="#" class="search-form clearfix">
										<input type="text" name="search-t-i" id="search-t-i" placeholder="Search..."><input type="submit" value="Search">
									</form>
								</div>
							</div>
							<!-- /Search Widget -->
							
							<!-- Popular Posts Widget -->
							<div class="popular-posts widget widget__sidebar">
								<h3 class="widget-title">Recents Posts</h3>
								<div class="widget-content">
									<ul class="posts-list unstyled clearfix">
										<li>
                                            {% for post in site.posts limit:6 %}
											<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
											<p class="post-meta">{{ post.date | date_to_long_string }} by <a href="//twitter.com/{{ site.author.twitter }}">{{ site.author.name }}</a></p>
                                            {% endfor %}
										</li>
									</ul>
								</div>
							</div>
							<!-- /Popular Posts Widget -->
							
{% include ads.html %}
							
							<!-- Text Widget -->
							<div class="text-widget widget widget__sidebar">
								<h3 class="widget-title">Follow Me</h3>
								<div class="widget-content">
<iframe src="http://ghbtns.com/github-btn.html?user=tigefa4u&repo=tigefa4u.github.io&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
<iframe src="http://ghbtns.com/github-btn.html?user=tigefa4u&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
								</div>
							</div>
							<!-- /Text Widget -->
							
						</aside>
						<!-- /Sidebar -->
