/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
.footer a {
  color: #fff;
}
.footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.footer-links li {
  display: inline-block;
}
.footer-links li + li {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer p {
    margin-bottom: 0;
  }
}

/* Share masthead with page headers */
.tgfa-masthead,
.tgfa-header {
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #1e73be;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f3fc1), to(#1e73be));
  background-image: -webkit-linear-gradient(top, #1f3fc1 0%, #1e73be 100%);
  background-image:      -o-linear-gradient(top, #1f3fc1 0%, #1e73be 100%);
  background-image:         linear-gradient(to bottom, #1f3fc1 0%, #1e73be 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f3fc1', endColorstr='#1e73be', GradientType=0);
  background-repeat: repeat-x;
}

/* Masthead (headings and download button) */
.tgfa-masthead .tgfa-booticon {
  margin: 0 auto 30px;
}
.tgfa-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
}
.tgfa-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.tgfa-masthead .taglines {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #9783b9;
}
.tgfa-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}

@media (min-width: 480px) {
  .tgfa-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .tgfa-masthead {
    padding: 80px 0;
  }
  .tgfa-masthead h1 {
    font-size: 60px;
  }
  .tgfa-masthead .lead {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .tgfa-masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}

/* -- Anchors --------------------------------------------------------------- */

#top.elevator { width: 0 !important; height: 0 !important; padding: 0 !important; margin: 0 !important; }

#bottom.elevator { width: 0 !important; height: 0 !important; padding: 0 !important; margin: 0 !important; }

/* -- smooth-scroll ------------------------------------------------------------- */

.smooth-scroll { position: fixed; width: 60px; }

.smooth-scroll.align-top { top: 10px; }
.smooth-scroll.align-bottom { bottom: 10px; }
.smooth-scroll.align-left { left: 10px; }
.smooth-scroll.align-right { right: 10px; }

.smooth-scroll a { 
text-decoration: none; 
font-family: "Courier New", Courier, monospace;
opacity: 0.5;
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity: 0.5;
-khtml-opacity: 0.5;
transition: opacity 0.2s linear;
-webkit-transition: opacity 0.2s linear;
-moz-transition: opacity 0.2s linear;
-o-transition: opacity 0.2s linear;
}
    
.smooth-scroll:hover a {
opacity: 1;
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
}

.smooth-scroll-document-anchor-top, .smooth-scroll-document-anchor-bottom {

float: left;
text-align: center;
font-size: 16px;
line-height: 16px;
padding: 20px 0;
width: 60px;
display: block;
color: #000;
background: #c6c6c6;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
-khtml-border-radius: 30px;
border-radius: 30px;
}

.smooth-scroll-document-anchor-top.item {
font-size: 10px;
line-height: 12px;
padding: 4px 0;
width: 20px;
margin: 5px 20px;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
-khtml-border-radius: 18px;
border-radius: 18px;
}

.smooth-scroll-document-anchor-bottom.item {
text-align: center;
font-size: 10px;
line-height: 12px;
padding: 4px 0;
width: 20px;
margin: 5px 20px;
display: block;
color: #000;
background: #c6c6c6;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
-khtml-border-radius: 18px;
border-radius: 18px;
}
    
.smooth-scroll a { margin-bottom: 5px; }
