<section id="river" role="main">
<header id="begin">
    <time datetime="{{ page.date | date_to_long_string }}" id="top_time">{{ page.date | date_to_long_string }}</time>
</header>

<article id="20" class="post">

<h2 class="entry-title"><a href="{{ post.url }}" class="no-link" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>

<div class="entry-content">
{{ content }}
<hr>
{% include JB/sharing %}
</div><!-- .entry-content -->
			
			<aside class="kudo kudoable" id="20">
				<a href="?" class="kudobject">
					<div class="opening clearfix">
						<span class="circle">&nbsp;</span>
					</div>
				</a>
		
				<a href="?" class="counter">
					<span class="num">1</span>
					<span class="txt">Kudos</span>
				</a>
			</aside>
</article><!-- #post-## -->

<div class="comments">
{% include JB/comments %}
</div><!-- .comments -->

<nav class="pagination">
  <span class="prev">
    <a href="{{ site.url }}" class="back_to_blog">?&nbsp;&nbsp;&nbsp;Back to blog</a>
  </span>
</nav>
</section><!-- #main -->