<header id="begin">
    <time datetime="{{ page.date | date_to_long_string }}" id="top_time"><i class="fa fa-calendar"></i> {{ page.date | date_to_long_string }}</time>
</header>

<article id="20" class="post">

<h2 class="entry-title"><a href="{{ post.url }}" class="no-link" title="{{ page.title }}" rel="bookmark"> {{ page.title }}</a></h2>

<div class="entry-content">
{{ content }}
<hr>
{% include JB/sharing %}
</div><!-- .entry-content -->
<div class="related">
  <h2><i class="fa fa-tasks"></i> Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <h4><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h4>
    {% endfor %}
  </ul>
</div>
</article><!-- #post-## -->

<div class="comments">
<h3 id="reply-title" class="comment-reply-title"><i class="fa fa-comments"></i> Leave a Reply</h3>
{% include JB/comments %}
</div><!-- .comments -->

<nav class="pagination">
  <span class="prev">
    <a href="{{ site.url }}" class="back_to_blog" title="Back to blog">&larr; Back to blog</a>
  </span>
</nav>