<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} / {% endif %}{{ site.name }}</title>
	<link rel="alternate" type="application/rss+xml" title=" tigefa4u.github / love github repositories - Feed" href="{{ site.url }}/rss.xml" />
	<link rel="alternate" type="application/atom+xml" title="Recent commits to tigefa4u.github.io master branch" href="https://github.com/tigefa4u/tigefa4u.github.io/commits/master.atom" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/styles.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/pygments-manni.css" rel="stylesheet">
    <!--<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/font-awesome/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/slate/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">-->
	{% include JB/themes %}
	<link href="{{ site.url }}/bower_components/tipsy/src/stylesheets/tipsy.css" rel="stylesheet">
	
    <!-- Highlight.js -->
    <link rel="stylesheet" href="{{ site.url }}/bower_components/highlightjs/styles/ir_black.css">
    <script src="{{ site.url }}/bower_components/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>	

    <!-- Le fav and touch icons -->
    <!-- Icons -->
    <!-- 16x16 -->
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/apple-touch-icon-precomposed.png">
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/apple-touch-icon-72x72-precomposed.png">
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/apple-touch-icon-114x114-precomposed.png">
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/apple-touch-icon-144x144-precomposed.png">
<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var apikey = '894104883557b023f393fd32b16afca7';
      try { Shareaholic.init(apikey); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>
  </head>

  <body id="top">

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ HOME_PATH }}" title="{{ site.title }}">{{ site.title }}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% include JB/pages_list %}
            </ul>
    <form class="navbar-form navbar-left" role="search" action="{{ site.simple_search }}" method="get" target="_blank">
      <div class="form-group">
        <input type="text" class="form-control" name="q" results="0" placeholder="Keyword here...">
		<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
      </div>
      <button type="submit" class="btn btn-success">search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      {% if site.author.github %}<li><a href="https://github.com/{{ site.author.github }}"><i class="icon-github icon-1x"></i></a></li>{% endif %}
	  {% if site.author.twitter %}<li><a href="https://twitter.com/{{ site.author.twitter }}"><i class="icon-twitter icon-1x"></i></a></li>{% endif %}
	  {% if site.author.googleplus %}<li><a href="http://gplus.to/{{ site.author.googleplus }}"><i class="icon-google-plus icon-1x"></i></a></li>{% endif %}
	  {% if site.author.feedburner %}<li><a href="http://feeds.feedburner.com/{{ site.author.feedburner }}"><i class="icon-rss icon-1x"></i></a></li>{% endif %}
    </ul>			              
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
		{{ content }}
      </div>
    </div> <!-- /wrap end -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">
{% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}"><i class="icon-twitter-sign icon-3x"></i></a>{% endif %}
{% if site.author.googleplus %}<a href="http://gplus.to/{{ site.author.googleplus }}"><i class="icon-google-plus-sign icon-3x"></i></a>{% endif %}
{% if site.author.facebook %}<a href="http://www.facebook.com/{{ site.author.facebook }}"><i class="icon-facebook-sign icon-3x"></i></a>{% endif %}
{% if site.author.stactoverflow %}<a href="http://stackoverflow.com/{{ site.author.stackoverflow }}"><i class="icon-stackexchange icon-3x"></i></a>{% endif %}
{% if site.author.bitbucket %}<a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="icon-bitbucket-sign icon-3x"></i></a>{% endif %}
{% if site.author.gittip %}<a href="http://gittip.com/{{ site.author.gittip }}"><i class="icon-gittip icon-3x"></i></a>{% endif %}
{% if site.author.linkedin %}<a href="http://linkedin.com/in/{{ site.author.linkedin }}"><i class="icon-linkedin-sign icon-3x"></i></a>{% endif %}
{% if site.author.tumblr %}<a href="http://{{ site.author.tumblr }}.tumblr.com"><i class="icon-tumblr-sign icon-3x"></i></a>{% endif %}
{% if site.author.flickr %}<a href="http://flickr.com/photos/{{ site.author.flickr }}"><i class="icon-flickr icon-3x"></i></a>{% endif %}
{% if site.author.pinterest %}<a href="http://pinterest.com/{{ site.author.pinterest }}"><i class="icon-pinterest-sign icon-3x"></i></a>{% endif %}
</p>
      <div class="lower_footer">
        <ul class="footer-cell">
          <li><a href="http://jekyllrb.com" target="_blank" data-toggle="tooltip" title="Jekyll &bull; Simple, blog-aware, static sites">Jekyllrb</a></li>
          <li><a href="http://jekyllbootstrap.com" target="_blank" data-toggle="tooltip" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a></li>
          <li><a href="http://getbootstrap.com" target="_blank" data-toggle="tooltip" title="Twitter Bootstrap">Bootstrap</a></li>
          <li><a href="http://fontawesome.io" target="_blank" title="the iconic font designed for Bootstrap">Font Awesome</a><br></li>
        </ul>

        <span class="footer-cell">
          <a data-toggle="tooltip" title="GitHub &hearts; Social coding" href="https://github.com" class="icon-github icon-5x"></a>
        </span>

        <span class="footer-cell">
          <p>
<iframe id="gh-fork" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.repository }}&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>
<iframe id="gh-star" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.repository }}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe><br/>
            &copy; 2011-2013 sugeng tigefa.
            <a href="http://github.com/tigefa4u">tigefa4u in Github</a>.
          </p>
        </span>
      </div>
      </div>
    </div>

    <!--<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/application.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/hoolder.js"></script>
	<script src="{{ site.url }}/bower_components/tipsy/src/javascripts/jquery.tipsy.js"></script>
    <script type='text/javascript'> 
    jQuery.noConflict();
    jQuery(function() {
    jQuery("a").tipsy({gravity: jQuery.fn.tipsy.autoNS});
    jQuery("img").tipsy({gravity: jQuery.fn.tipsy.autoNS});
    });
    </script>
    {% include JB/analytics %}
  </body>
</html>
