/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 185px;
  background-color: #1E1E1E;
  color: grey;
  text-decoration: none;
}

#footer a{text-decoration: none;}
/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

#footer li {
  list-style: none;
}

#footer .upper_footer {
  border-top: 1px solid #ddd;
  min-height: 160px;
  overflow: hidden;
  font-size: 12px;
}

#footer .upper_footer ul.footer_nav {
  position: relative;
  float: left;
  width: 210px;
  margin: 20px 10px;
}

#footer .mega-icon {
  color: #ccc;
}

#footer .mega-icon:hover {
  color: #bbb;
  text-decoration: none;
}

.lower_footer {
  border-top: 1px solid gray;
  display: table;
  width: 100%;
  padding: 15px 0 20px;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  width: 10%;
  vertical-align: middle;
  font-size: 12px;
  padding: 0 10px;
}

.footer-cell:first-child {
  text-align: left;
}

.footer-cell:last-child {
  text-align: right;
}

.footer-cell > li {
  display: inline;
  margin-right: 20px;
}

/* end */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {

}
.container .credit {
  margin: 20px 0;
}
.posts{list-style:none;}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

#clock {
	margin:0 auto;
	width:300px;
	height:300px;
	border-radius:9001px;
	border:9px solid #BF1111;
	padding:0;
	background:#fff;
	text-align:center;
}

#center {
}

#details {
	display:none;
	max-width:70%;
	max-height:70%;
	margin:0 auto;
}

#details span  {
	display: block;
}

#details #meta {
	clear:both;
	text-align:right;
	overflow:hidden;
}

#details #lang, #details #stars, #details #forks {
	float:right;
	margin:1px 3px;
	color:#999;
}

#details #lang{
	line-height:150%;
}

#details #lang:after, #details #stars:after{
	content:' \00b7 ';
}

#details #name {
	font-size:200%;
	word-break:break-all;
}

#details #updated {
	font-size:80%;
	color:#aaa;
}

#gravatar_img {
	border:0px;
	border-radius:50%;
	width:50%;
	height:50%;
	box-shadow: 0px 0px 15px rgba(111, 111, 111, 0.5);
}

#num-repos{
	margin:0;
}

.repo {
	width:90px;
	height:90px;
}

a {
	text-decoration:none;
	color:#665;
}

.repo h2{
	width:100px;
	height:100px;
	border:10px solid #888;
	position:relative;
	background:#fff;
	border-radius:400px;
	font-size:100%;
	text-align:center;
	color:#666;
	margin:0;
	word-break:break-all;
	overflow:hidden;
	display:table;
	box-shadow: 1px 1px 10px #666;
}

.repo a:hover h2{
	border-width:8px;
	z-index:22;
	box-shadow: 1px 1px 1px #222;
}

.repo h2 p {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
}

.repo_details{
	display:none;
}

.repo a.PHP       h2{ border-color:#3472BC; }
.repo a.Python h2{ border-color:#BC348F;}
.repo a.C           h2{ border-color:#15A209;}
.repo a.Cplusplus h2{ border-color:#A26409;}
.repo a.JavaScript h2{ border-color:#E115C5;}
.repo a.Shell h2{ border-color:#D0C2C7;}
.repo a.Ruby h2{ border-color:#B60800;}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #1279e8;
	color:#fff;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#1279e8;
	border:1px solid #4C964D;
	color:#FFF;
}

ul li {style-list:none;}

.tipsy {
font-size: 12px;
position: absolute;
padding: 5px;
z-index: 100000;
}

.tipsy-inner {
background-color: #000;
color: #FFF;
max-width: 200px;
padding: 5px 8px 4px 8px;
text-align: center;
}

.tipsy-inner {
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.tipsy-arrow {
position: absolute;
width: 0;
height: 0;
line-height: 0;
border: 5px dashed #000;
}
  
.tipsy-arrow-n {
border-bottom-color: #000;
}

.tipsy-arrow-s {
border-top-color: #000;
}

.tipsy-arrow-e {
border-left-color: #000;
}

.tipsy-arrow-w {
border-right-color: #000;
}

.tipsy-n .tipsy-arrow {
top: 0px;
left: 50%;
margin-left: -5px;
border-bottom-style: solid;
border-top: none;
border-left-color: transparent;
border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
top: 0;
left: 10px;
border-bottom-style: solid;
border-top: none;
border-left-color: transparent;
border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
top: 0;
right: 10px;
border-bottom-style: solid;
border-top: none;
border-left-color: transparent;
border-right-color: transparent;
}


.tipsy-s .tipsy-arrow {
bottom: 0;
left: 50%;
margin-left: -5px;
border-top-style: solid;
border-bottom: none;
border-left-color: transparent;
border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
bottom: 0;
left: 10px;
border-top-style: solid;
border-bottom: none;
border-left-color: transparent;
border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
bottom: 0;
right: 10px;
border-top-style: solid;
border-bottom: none;
border-left-color: transparent;
border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
right: 0;
top: 50%;
margin-top: -5px;
border-left-style: solid;
border-right: none;
border-top-color: transparent;
border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
left: 0;
top: 50%;
margin-top: -5px;
border-right-style: solid;
border-left: none;
border-top-color: transparent;
border-bottom-color: transparent;
}

.CodeRay {
  background-color: #{code_background};
  border: 1px solid #{border_color};
  color: #{normal_color};
}
.CodeRay pre {
  margin: 0px;
}

span.CodeRay { white-space: pre; border: 0px; padding: 2px; }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px; }
table.CodeRay td { padding: 2px 4px; vertical-align: top; }

.CodeRay .line-numbers {
  background-color: #{numbers_background};
  color: gray;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.CodeRay .line-numbers a {
  background-color: #{numbers_background} !important;
  color: gray !important;
  text-decoration: none !important;
}
.CodeRay .line-numbers a:target { color: blue !important; }
.CodeRay .line-numbers .highlighted { color: red !important; }
.CodeRay .line-numbers .highlighted a { color: red !important; }
.CodeRay span.line-numbers { padding: 0px 4px; }
.CodeRay .line { display: block; float: left; width: 100%; }
.CodeRay .code { width: 100%; }

.debug { color: white !important; background: blue !important; }

.annotation { color:#007 }
.attribute-name { color:#b48 }
.attribute-value { color:#700 }
.binary { color:#509 }
.char .content { color:#D20 }
.char .delimiter { color:#710 }
.char { color:#D20 }
.class { color:#B06; font-weight:bold }
.class-variable { color:#369 }
.color { color:#0A0 }
.comment { color:#777 }
.comment .char { color:#444 }
.comment .delimiter { color:#444 }
.complex { color:#A08 }
.constant { color:#036; font-weight:bold }
.decorator { color:#B0B }
.definition { color:#099; font-weight:bold }
.delimiter { color:black }
.directive { color:#088; font-weight:bold }
.doc { color:#970 }
.doc-string { color:#D42; font-weight:bold }
.doctype { color:#34b }
.entity { color:#800; font-weight:bold }
.error { color:#F00; background-color:#FAA }
.escape  { color:#666 }
.exception { color:#C00; font-weight:bold }
.float { color:#60E }
.function { color:#06B; font-weight:bold }
.global-variable { color:#d70 }
.hex { color:#02b }
.imaginary { color:#f00 }
.include { color:#B44; font-weight:bold }
.inline { background-color: hsla(0,0%,0%,0.07); color: black }
.inline-delimiter { font-weight: bold; color: #666 }
.instance-variable { color:#33B }
.integer  { color:#00D }
.key .char { color: #60f }
.key .delimiter { color: #404 }
.key { color: #606 }
.keyword { color:#080; font-weight:bold }
.label { color:#970; font-weight:bold }
.local-variable { color:#963 }
.namespace { color:#707; font-weight:bold }
.octal { color:#40E }
.operator { }
.predefined { color:#369; font-weight:bold }
.predefined-constant { color:#069 }
.predefined-type { color:#0a5; font-weight:bold }
.preprocessor { color:#579 }
.pseudo-class { color:#00C; font-weight:bold }
.regexp .content { color:#808 }
.regexp .delimiter { color:#404 }
.regexp .modifier { color:#C2C }
.regexp { background-color:hsla(300,100%,50%,0.06); }
.reserved { color:#080; font-weight:bold }
.shell .content { color:#2B2 }
.shell .delimiter { color:#161 }
.shell { background-color:hsla(120,100%,50%,0.06); }
.string .char { color: #b0b }
.string .content { color: #D20 }
.string .delimiter { color: #710 }
.string .modifier { color: #E40 }
.string { background-color:hsla(0,100%,50%,0.05); }
.symbol .content { color:#A60 }
.symbol .delimiter { color:#630 }
.symbol { color:#A60 }
.tag { color:#070 }
.type { color:#339; font-weight:bold }
.value { color: #088; }
.variable  { color:#037 }

.insert { background: hsla(120,100%,50%,0.12) }
.delete { background: hsla(0,100%,50%,0.12) }
.change { color: #bbf; background: #007; }
.head { color: #f8f; background: #505 }
.head .filename { color: white; }

.delete .eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.insert .eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.insert .insert { color: #0c0; background:transparent; font-weight:bold }
.delete .delete { color: #c00; background:transparent; font-weight:bold }
.change .change { color: #88f }
.head .head { color: #f4f }