---
layout: default
---
<!-- Post Standard -->
<article class="entry entry__standard clearfix">
<!-- begin post heading -->
<header class="entry-header clearfix">
  <div class="format-icon">
    <i class="icon-file-alt"></i>
  </div>
  <div class="entry-header-inner">
    <h2 class="entry-title"><a rel="nofollow" href="{{ page.url }}">{{ page.title }}</a></h2>
    <p class="post-meta">
      <span class="post-meta-cats"><i class="icon-tag"></i><a href="#">News</a> / <a href="#">Design</a></span>
      <span class="post-meta-author"><a href="//twitter.com/{{ site.author.twitter }}"><i class="icon-user"></i>{{ site.author.name }}</a></span>
      <span class="post-meta-comments"><a href="#"><i class="icon-comment"></i>16</a></span>
      </p>
  </div>
</header>
<!-- end post heading -->
<!-- begin post content -->
<div class="entry-content">
  {{ content }}
</div>
<!-- end post content -->
</article>
<!-- /Post Standard -->
														
<!-- BEGIN COMMENT FORM -->
<div class="comments-form-wrapper clearfix">
  <h2>Leave A comments</h2>
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/{{ site.comment.disqus }}/embed.js"></script>
</div>
<!-- END COMMENT FORM -->

<div class="text-widget widget widget__sidebar">
  <h3 class="widget-title">Related Posts</h3>
<div class="widget-content">
  <ul class="posts-list unstyled clearfix">
    {% for post in site.related_posts limit:6 %}
      <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <p class="post-meta">{{ post.date | date_to_long_string }} by <a target="_blank" href="//twitter.com/{{ site.author.twitter }}">{{ site.author.name }}</a></p>
      </li>
    {% endfor %}
  </ul>
</div>
</div>