---
layout: page
title: "Articles"
---

<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h2>PHP <small>code addons plus tut</small></h2>
    </div>
    <div class="list-group">
      {% for post in site.categories.php %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h2>JavaScript <small>code addons plus tut</small></h2>
    </div>
    <div class="list-group">
      {% for post in site.categories.javascript %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h2>Ruby <small>code addons plus tut</small></h2>
    </div>
    <div class="list-group">
      {% for post in site.categories.ruby %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h2>NodeJS <small>code addons plus tut</small></h2>
    </div>
    <div class="list-group">
      {% for post in site.categories.nodejs %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h2>Bootstrap <small>code addons plus tut</small></h2>
    </div>
    <div class="list-group">
      {% for post in site.categories.bootstrap %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h2>Python <small>code addons plus tut</small></h2>
    </div>
    <div class="list-group">
      {% for post in site.categories.python %}
      <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
